html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Oswald';
}

#container {
    height: 100%;
    width: 100%;
}

#cabecalho-home{
    width: 100%;
    height: 1000px;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    background-image: url('../images/young-man-at-barbershop-trimming-hair.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

#cabecario{
    width: 100%;
    height: 130px;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: white;
    background-color: #121212;
    opacity: 70%;
}

#menu-header {
    display: flex;
    justify-content: space-between;
    
}

#menu-header img {
    margin-left: 70px;
    margin-top: 20px;
}

nav {
    padding-top: 20px;
    padding-right: 60px;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style-type: none;
    margin-right: 30px;
}

li :hover {
    color: #c6a38a;
}

a {
    text-decoration: none;
    color: white;
}


h1{
    color:#304557;
    text-align: center;
	text-transform: uppercase;
	font-size: 65px;
	font-weight: 400;
	letter-spacing: 3px;
	padding-top: 50px;
	font-family: 'Oswald';
    background: bisque;
}
h1:span{
		letter-spacing: 7px;
		font-size: 25px;
		line-height: 1;
}


.gallery{
	padding: 40px 0 300px;
	overflow: hidden;
    background: bisque;
    
    
}

.gallery:linha01{
    width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
	clear: both;
    background: bisque;

}

image{
max-width: 100%;
height: auto;
padding: 0;
margin: 0;
}

col{
float: left;
margin: 0 0.8771929824561403%;

}

linha01 :ul{
		padding-top: 50px;
		position: relative;
    }
		li{
			margin-bottom: 20px;
			width: 23.24561403508772%;
			position: relative;
        }
		a{
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
            padding: 0;
			line-height: 0;
}


#conteudo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 62px;
    margin-top: 2em;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside span {
    font-size: 20px;
    font-weight: 300;
    width: 600px;
    text-align: center;
}

#btn {
    background-color: #535c5f; 
    color: #f6b26b;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccd7dc;
    height: 50px;
}

.btn:hover{
    background-color: #304557;
}

#forms{

    display: flex;
    justify-content: center;
    padding: 70px;
    width: auto;
    height: 100%;    
    align-items: center ;
    background-color: bisque;
    background-image: url('../images/img-reserva/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover; 

}

form {

    box-shadow: 5px 5px #f6b26b;
    margin: auto;
    width: 1000px;
    padding: 10px;
    border-radius: 10px;
    background-color: snow;
}



.formReserva{
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 50px;
}

.formReserva input {
    width: 95.5%;
    height: 5px;
    padding: 1rem;
    padding-right: 25px;
    border: 1px solid #ccd7dc;
}

.servico{
    width: 100%;
    height: 5px;
    padding: 1rem;
    padding-right: 25px;
    border: 1px solid #ccd7dc;
}
.serv{
    width: 100%;
    height: 40px;
    border: 1px solid #ccd7dc;
}

.row{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}
.img{
		max-width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
    }

col{
	float: left;
	margin: 0 0.8771929824561403%;
	overflow: hidden;
}





#saiba-mais-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    min-width: 160px;
    background-color: #c6a38a;
    border: 1px solid #c6a38a;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

#saiba-mais-home :hover {
    background-color: black;
}

#amostra-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    font-size: 32px;
    color: #4f3f39;
}

#imagens-amostra-home {
    display: flex;
    justify-content: space-evenly;
    margin-left: 60px;
    margin-right: 60px;
}

#imagens-amostra-home article {
    height: 350px;
    margin-left: 20px;
    margin-bottom: 20px;
}

article img {
    width: 100%;
    height: 100%;
    border-radius: 70px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #ebc4b733;
    color: #4f3f39;
    font-size: 22px;
}
#main-sobre{
    display: flex;   
    height: 100%; 
    background-color: bisque;

    
}

main div {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

main span {
    width: 60%;
    text-align: center;
}

.info-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ebc4b733;
    color: #4f3f39;
    height: 250px;
    font-size: 22px;

}

.info-home span {
    max-width: 85%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background-color: #121212;
    color: white;
}

#logo-footer-home {
    height: 100px;
    width: 100px;
}

#logo-footer-home img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

#modelo-corte-um {
    background-image: url('../images/barbearia-machismo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#modelo-corte-dois {
    background-image: url('../images/barbearia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#modelo-corte-tres {
    background-image: url('../images/penteado-masculino-aprenda-a-fazer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#modelo-corte-quatro {
    background-image: url('../images/Como-atrair-clientes-para-barbearia.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.modelos-corte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 70px;
    box-shadow: 2px 2px rgb(255, 224, 167);
    color: rgb(174, 126, 37);
}

.modelos-corte h2 {
    font-weight: 900;
    font-size: 32px;
}

#desenvolvedores {
    text-align: center;
}

#redes-sociais {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

#redes-sociais img {
    width: 50px;
}

#suporte {
    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 30px;

}
