<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styleS.css" media="screen" />
    <title>Galeria</title>
</head>

<body>
    <header id="cabecario">
        <div id="menu-header">
            <a href="#">
                <img src="../images/Barber-Shop-Man-Beard-Vector-3071686.png" height="100px" />
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html">Principal</a>
                    </li>
                    <li>
                        <a href="./galeria.html">Galeria</a>
                    </li>
                    <li>
                        <a href="./reserva.html">Reserva</a>
                    </li>
                    <li>
                        <a href="./sobre.html">Sobre</a>
                    </li>
                </ul>
            </nav>
        </div>

        

    </header>

    <div id="top"><h1>Barber <br> <span> [Portfolio Galeria ]</span></h1></div>
<section class="gallery">
	<div class="linha01">
		<ul>
			
			<li>
                <a href="#">
                    <img src="../images/img-galeria/corte001.jpg" height="300px" width="300px">
				</a>
			</li>

			<li>
                <a href="#">
                    <img src="../images/img-galeria/corte002.jpg" height="300px" width="300px">
				</a>
			</li>

			<li>
                <a href="#">
                    <img src="../images/img-galeria/corte003.jpg" height="300px" width="300px">
				</a>
			</li>
			<li>
                <a href="#">
                    <img src="../images/img-galeria/corte004.webp" height="300px" width="300px">
				</a>
			</li>

		</ul>
	</div>

    <div class="linha01">
        <ul>
        <li>
            <a href="#">
                <img src="../images/img-galeria/corte005.jpg" height="300px" width="300px">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/img-galeria/corte006.webp" height="300px" width="300px">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/img-galeria/corte007.jpg" height="300px" width="300px">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../images/img-galeria/corte008.webp" height="300px" width="300px">
            </a>
        </li>
    </ul>
    </div>
    </section>

    <footer>
        <div id="desenvolvedores">
            <br>© 2022 All Rights Reserved Terms of Use and Privacy Policy.</br>
            <span>Armada of Dumbleodore</span>
        </div>
        <div id="logo-footer-home">
            <img src="../images/77107864-black-had-of-man-in-sunglasses-on-the-middle-of-barber-shop-icon.webp">
        </div>
        <div id="redes-sociais">
            <a href="#">
                <img src="../images/icons/facebook-icon.png" />
            </a>
            <a href="#">
                <img src="../images/icons/instagram-icon.png" />
            </a>
            <a href="#">
                <img src="../images/icons/linkedin-icon.png" />
            </a>
        </div>
    </footer>
</body>

</html>