<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />
    <title>Sobre</title>
</head>
<body>
    <div>
    <header id="cabecario">
        <div id="menu-header">
            <a href="#">
                <img src="../images/Barber-Shop-Man-Beard-Vector-3071686.png" height="100px" />
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html">Principal</a>
                    </li>
                    <li>
                        <a href="./galeria.html">Galeria</a>
                    </li>
                    <li>
                        <a href="./reserva.html">Reserva</a>
                    </li>
                    <li>
                        <a href="./sobre.html">Sobre</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="main-sobre">
        <div class="fotos_sobre">
            <img src="../images/imagens-sobre/8d77f40.jpg" height="300px" width="300px" />
            <p>
                <ul>
                    <h3>Especialidades</h3>
                    <li><b>Barba:</b> Método tradicional com toalhas quentes.</li>
                    <br>
                    <li> <b>Massagem anti-stress:</b> Essa técnica utiliza movimentos deslizantes e suaves combatendo sintomas como irritabilidade, falta de concentração,tensões musculares e má circulação sanguínea.</li>
                    <br>
                    <li><b>Reflexologia:</b> Através da massagem nos pés estimulam os órgãos do corpo com foco</li>
                </ul>
            </p>

        </div>
        <div class="fotos_sobre">
            
            <p>
                <ul>
                    <h3>Especialidades</h3>
                    <li><b>Corte</b></li>
                    <br>
                    <li><b>Manicure:</b> Cortar as unhas, limpar as cutículas, lixar e hidratar as mãos.</li>
                    <br>
                    <li><b>Pedicure:</b> Tratamento completo dos pés, corte e limpeza das unhas, esfoliação e hidratação dos pés.</li>
                </ul>
            </p>
            <img src="../images/imagens-sobre/Barbeira.jpg" height="300px" width="300px" />
            
        </div>
        <div class="fotos_sobre">
            <img src="../images/imagens-sobre/barbeiro-profissional-com-tesoura.jpg" height="300px" width="300px" />
            <p>
                <ul>
                    <h3>Especialidades</h3>
                    <li><b>Barba:</b> Método tradicional com toalhas quentes.</li>
                    <br>
                    <li><b>Corte</b></li>
                    <br>
                    <li><b>Massagem anti-stress:</b> Essa técnica utiliza movimentos deslizantes e suaves combatendo sintomas como irritabilidade, falta de concentração,tensões musculares e má circulação sanguínea.</li>
                </ul>                
            </p>
            
        </div>
        <div class="fotos_sobre">
            <p>
                <ul>
                <h3>Especialidades</h3>
                <li><b>Renovação celular:</b> Consiste em retirar as células mortas da pele através de uma esfoliação e a aplicação de um hidratante corporal.</li>
                <br>
                <li><b>Manicure:</b> Cortar as unhas, limpar as cutículas, lixar e hidratar as mão.
                    Barba: Método tradicional com toalhas quentes.</li>
                    <br>
            </ul>
            </p>
            <img src="../images/imagens-sobre/barbeiro-profissional.webp" height="300px" width="300px" />            
        </div>    
        <br>  
    </main>
    <footer>
        <div id="desenvolvedores">
            <br>© 2022 All Rights Reserved Terms of Use and Privacy Policy.</br>
            <span>Armada of Dumbleodore</span>
        </div>
        <div id="logo-footer-home">
            <img src="../images/77107864-black-had-of-man-in-sunglasses-on-the-middle-of-barber-shop-icon.webp">
        </div>
        <div id="redes-sociais">
            <a href="https://www.facebook.com/helios.barber" target="_blank">
                <img src="../images/icons/facebook-icon.png" />
            </a>
            <a href="https://www.instagram.com/barber/?igshid=YmMyMTA2M2Y=" target="_blank">
                <img src="../images/icons/instagram-icon.png" />
            </a>
            <a href="https://www.linkedin.com/company/barbearia-corleone/?originalSubdomain=br" target="_blank">
                <img src="../images/icons/linkedin-icon.png" />
            </a>
        </div>
    </footer>
</div>

<script src="../js/index.js" ></script>
</body>

</html>